body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  width: 17cm;
}

input[type="range"] {
  width: 10cm;
}

#result{
    border-radius: 7px;
    padding: 2px;
    min-width: 10cm;
    text-align: center;
}